body {
  background-color: #ff9900;
}
header {
  background-color: #2b2d42;
  margin: 0px;
  padding: 30px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Joshua_Tree_National_Park_Night_Sky.jpg/1200px-Joshua_Tree_National_Park_Night_Sky.jpg?20190326020633")
}

h1 {
  text-align: center;
  color: #146eb4;
  margin: 20px;
  padding: 20px;
}

h3 {
  color: #232f3e;
  text-align: center;
}

p {
  text-align: center;
  color: #f2f2f2;
}

ul {
  text-align: center;
  color: #000000;
  list-style: none;
}

#myvacations {
text-align: center;
}

h5 {
  text-align: center;
  color: #ef233c;
}

footer {
  background-color: #2b2d42;
  margin: 0px;
  padding: 20px;
  font-size: medium;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Joshua_Tree_National_Park_Night_Sky.jpg/1200px-Joshua_Tree_National_Park_Night_Sky.jpg?20190326020633")
}
